<section class="section">
  <div class="container">
    <div class="border">
      <h1 class="is-size-3 has-text-center mt-4 profileInfo">Profile Info</h1>
      <hr />
      <div class="columns">
        <div class="column">
          
          <img src="img/profile/{{img}}" alt="profile pic" style="max-height: 200px" class="pic mb-4" />
          
        </div>
        <div class="column">
          <h3 class="is-size-4 userName">Name: {{name}}</h3>
          <h3 class="is-size-4 userName">Username: {{username}}</h3>
          <h3 class="is-size-4 userName">Hometown: <span id="user-cityst" value="{{city}},{{state}}">{{city}}, {{state}}</span></h3>
        </div>
      </div>
    </div>
  </div>
<<<<<<< HEAD
<script src="./js/dashboard.js"></script>
    <script src="/js/beerapi.js"></script>
=======
</section>
 <div class="columns">
    <div class="column has-text-centered">
      <h1 class="is-size-3 has-text-centered nearBeer">
        Near Beer
      </h1>
      
      <div id="map"></div>
      <input type="hidden" id="user-lat" value="{{lat}}" />
      <input type="hidden" id="user-lon" value="{{lon}}" />
       <input type="hidden" id="user-citystmap" value="{{city}},{{state}}" />
    <!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyfKCmxQxrQqrFnDgMSmj6xxhLnIkbuh8&callback=initMap&v=weekly"
      defer
    ></script>
    </div>
    <div class="column ">
      <h1 class="is-size-3 has-text-centered nearBeer">
        New Post
      </h1>
      <form class="form new-post-form" method="post">
        <div class="field">
          <label class="label" for="post-title">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="Title text" id="post-title" name="post-title">
          </div>
        </div>

        <div class="field">
          <label class="label" for="post-body">Post</label>
          <div class="control">
            <textarea class="textarea" placeholder="Post body" id="post-body" name="post-body"></textarea>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
             <input type="hidden" id="post-author" value="{{username}}">
            <button class="button" type="submit">Submit</button>
          </div>
         
        </div>
      </form>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
 <h1 class="is-size-3 mb-4 myStuff">
    My Stuff
</h1>
<div class="tabs is-centered">
  <ul class="tabs">
    <li><a class="button" id="clButton">Beer Checklist</a></li>
    <li><a class="button" id="lpButton">Latest Posts</a></li>
    <li><a class="button" id="lbButton">Leaderboard</a></li>
  </ul>
</div>
<div id="beerChecklist">
  <table class="table is-centered beerList">
    <thead>
      <tr>
        <th><abbr title="Beer Number">Beer #</abbr></th>
        <th>Beer Name</th>
        <th><abbr title="Brewery">Brewery</abbr></th>
        <th><abbr title="Home City">Home City</abbr></th>
        <th><abbr title="Beer Type">Beer Type</abbr></th>
        <th><abbr title="Alcohol Content">Alc %</abbr></th>
        <th><abbr title="Drank?">Drank?</abbr></th>
      </tr>
    </thead>

    <tbody>
      {{#each beersList as |drink| }}
      <tr>
        <th>{{add_one @index}}</th>
        <td>{{drink.beer.name}}</td>
        <td>{{drink.beer.brewery}}</td>
        <td>{{drink.beer.brewloc}}</td>
        <td>{{drink.beer.type}}</td>
        <td>{{drink.beer.abv}}</td>
        <td>
          <label class="checkbox">
            <input type="checkbox" class="drank-check" {{#if drink.drank}}checked{{/if}} data-id="{{drink.id}}"/>
            Ya drank?
          </label>
        </td>
      </tr>
      {{/each}}
     
    </tbody>
  </table>
</div>
<div id="beerLeaderboard" class="hidden">
  <div class="column border">
    <h1 class="is-size-3 mt-1 leaderboard">Beer Checklist Leaderboard</h1>
    <hr />
    <ol class="leaderboard ml-6 checklist">
     {{#each leaderboardList as |listitem|}}
        <li id="{{is_one @index}}{{is_two @index}}{{is_three @index}}"><a href="/profile/{{listitem.user}}">{{listitem.user}}</a> - {{listitem.drank_beers}}/{{listitem.total_beers}}</li>
      {{/each}}

    </ol>
  </div>
</div>
<div id="latestPosts" class="hidden">
  <div class="section">
    <div class="column border">
      <h1 class="is-size-3 blog">Blog Posts</h1>
      <hr />
      {{#each posts as |post|}}
            <div class="post">
                <a href="/post/{{post.id}}" class="is-size-4 is-centered postTitle">{{post.title}}</a>
              <p>
                {{post.body}}
              </p>
            </div>
                {{#each comments as |comment| }}
       <div style="border:1px solid #000; background-color:#999"> {{comment.body}}</div>
       {{/each}}
        <form class="new-comment-form">
            <div>
            <label for="comment-body">Comment as {{../username}}:</label><br/>
            <input type="hidden" id="post-id" value="{{post.id}}" />
            <textarea id="comment-body" name="comment-body"></textarea>
        </div>
        <div>
            <button type="submit">Comment</button>
        </div>
        </form>
      {{/each}}

   
    </div>
  </div>
</div>
<hr>


<script src="./js/dashboard.js"></script>
>>>>>>> 4a170db1dcfc72ba7988eff3f5045f70b40e2740
