<h2>Posts:</h2>
{{#each posts as |post|}}
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
  {{#each post.comments as |comment|}}
    {{comment.body}}
    {{comment.author}}
    {{comment.date_created}}
  {{/each}}
{{/each}}


<h2>BeerleaderBoard</h2>
{{#each leaderboardList as |listitem|}}
  {{{add_one @index}}}{{listitem.user}} {{listitem.drank_beers}}/{{listitem.total_beers}}
{{/each}}
<span></span>


