
<section class="section">
      <div class="container">
        <h1 class="is-size-1 has-text-centered" id="title">Beer Buddies</h1>
        <p class="subtitle is-italic has-text-centered pb-5" id="title">
          Connect with nearby beer enthusiasts!
        </p>
      </div>

      <div class="columns is-mobile">
        <div class="column is-two-thirds mr-5 border">
          <h1 class="is-size-3 blog">Beer Blog</h1>
          <hr />
          {{#each posts as |post|}}
          <a href="/post/{{post.id}}"><div class="post">
            <p>
              {{post.author}} - {{post.body}}
            </p>
          </div>
          </a>
            {{#each post.comments as |comment|}}
          <div class="comment ml-6 mr-6">
            <p>
              {{comment.author}} - {{comment.body}}
            </p>
          </div>
            {{/each}}
          <a href="#add-comment-link-{{post.id}}" onclick="showStuff('comment-{{post.id}}','add-comment-link-{{post.id}}' )" id="add-comment-link-{{post.id}}" class="addComment">Add Comment</a>
          <span id="comment-{{post.id}}" style="display:none">
              {{#if ../logged_in}}
              <form class="hp-comment-form" method="post">
                <article class="media mt-1">
                  <div class="media-content">
                    <div class="field">
                       <label for="comment-body">Comment as {{../username}}:</label>
                      <p class="control">
                        <textarea class="textarea"  id="comment-body" name="comment-body" placeholder="Add a comment..."></textarea>
                      </p>
                    </div>
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <input type="hidden" id="post-id" value="{{post.id}}" />
                          <button type="submit" class="button">Submit</button>
                        </div>
                      </div>
                      <div class="level-right">
                        <div class="level-item"></div>
                      </div>
                    </nav>
                  </div>
                </article>
              </form>
              
              {{else}}
              Please <a href="/login">Login</a>to comment.
              {{/if}}
          </span>
          {{/each}}
          
          
        </div>

        <div class="column border">
          <h1 class="is-size-3 checklist">Beer Checklist Leaderboard</h1>
          <hr />
          <ol class="leaderboard ml-6 checklist">
            {{#each leaderboardList as |listitem|}}
              <li id="{{is_one @index}}{{is_two @index}}{{is_three @index}}"><a href="/profile/{{listitem.user}}" id="{{is_one @index}}{{is_two @index}}{{is_three @index}}"> {{listitem.user}} </a> - {{listitem.drank_beers}}/{{listitem.total_beers}}</li>
            {{/each}}
           <!-- <li id="secondDog">James Johnson - 11/18</li>
            <li id="thirdDog">Austin Moore - 10/18</li> -->
            
          </ol>
        </div>
      </div>
    </section>
    <script src="/js/index.js"></script>