<h1 class="is-size-1 has-text-centered pt-4 loginTitle">
  {{post.title}}
</h1>
<h3 class="is-size-4 has-text-centered loginTitle">{{post.author}}</h3>
<hr />

<div class="post p-5">
  {{post.body}}
</div>
<hr />
{{#each post.comments as |comment|}}
  <div class="comment ml-6 mr-6">
    <p>
      {{comment.body}}
    </p>
  </div>
{{/each}}

{{#if logged_in}}

<form class="media mt-1">
  <div class="media-content">
    <div class="field">
      <p class="control">
        <input type="hidden" id="post-id" value="{{post.id}}" />
        <textarea class="textarea" id="comment-body" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <button type="submit" class="button">Submit</button>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item"></div>
      </div>
    </nav>
  </div>
</form>

{{else}}
  <a href="/login">Log in or sign up to comment</a>
{{/if}}

<script src="./js/post.js"></script>