  <section class="section">
      <div class="container">
        <div class="border">
          <h1 class="is-size-3 has-text-center mt-3 profileInfo">{{name}}</h1>
          <hr />
          <div class="columns">
            <div class="column">
              <img
                src="img/me.jpg"
                alt="profile pic"
                style="max-height: 200px"
                class="pic"
              />
            </div>
            <div class="column">
              <h3 class="is-size-4 userName">{{name}}</h3>
              <h3 class="is-size-4 userName">{{username}}</h3>
              <h3 class="is-size-4 userName">{{city}}</h3>
            </div>
            
          </div>
          <hr />

          <div>
            <h1 class="is-size-3 has-text-center pb-5 profileInfo">
              Beer Checklist
            </h1>
          </div>
          <table class="table is-centered beerList">
            <thead>
              <tr>
                <th><abbr title="Beer Number">Beer #</abbr></th>
                <th>Beer Name</th>
                <th><abbr title="Brewery">Brewery</abbr></th>
                <th><abbr title="Home City">Home City</abbr></th>
                <th><abbr title="Beer Type">Beer Type</abbr></th>
                <th><abbr title="Alcohol Content">Alc %</abbr></th>
                <th><abbr title="Drank?">Drank?</abbr></th>
              </tr>
            </thead>

            <tbody>
              {{#each beersList as |drink| }}
              <tr>
                <th>{{add_one @index}}</th>
                <td>{{drink.beer.name}}</td>
                <td>{{drink.beer.brewery}}</td>
                <td>{{drink.beer.brewloc}}</td>
                <td>{{drink.beer.type}}</td>
                <td>{{drink.beer.abv}}</td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" readonly />
                    Ya drank?{{drink.drank}}
                  </label>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="section">
          <div class="column border">
            <h1 class="is-size-3 blog">Blog Posts</h1>
            <hr />
            {{#each posts as |post|}}
            <div class="post">
                <a href="/post/{{post.id}}" class="is-size-4 is-centered postTitle">{{post.title}}</a>
              <p>
                {{post.body}}
              </p>
            </div>
            {{/each}}
           
          </div>
        </div>
      </div>
    </section>
